{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-tabs.css' | asset_url | stylesheet_tag }}
{{ 'quick-add.css' | asset_url | stylesheet_tag }}

<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{% if section.blocks.size > 0 %}
  <div class="section-collection-tabs__section">
    <div class="page-width section-collection-tabs__container">
      <div class="section-collection-tabs__heading">
        {% if section.settings.title != blank %}
          <h2 class="section-collection-tabs__title">{{ section.settings.title }}</h2>
        {% endif %}
        {% if section.settings.description != blank %}
          <p class="section-collection-tabs__title">{{ section.settings.description }}</p>
        {% endif %}
      </div>
      <div class="section-collection-tabs__content">
        <div class="section-collection-tabs__tab tab">
          <div class="section-collection-tabs__tab-head tab__headings">
            <ul class="list">
              {% assign i = 0 %}
              {% for block in section.blocks %}
                {% if block.settings.collection != blank %}
                  {% assign collection_tab = block.settings.collection %}
                  {% if collection_tab.all_products_count > 0 %}
                    <li class="list__item {% if i == 0 %}active{% endif %}">
                      <a href="#" class="list__link">{{ block.settings.alt_title | default: collection_tab.title }}</a>
                    </li>
                    {% assign i = 1 %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="section-collection-tabs__tab-body tab__body">
            <ul class="list">
              {% assign j = 0 %}
              {% for block in section.blocks %}
                {% if block.settings.collection != blank %}
                  {% assign collection_tab = block.settings.collection %}
                  <li class="list__item {% if j == 0 %}active{% endif %}">
                  {% if collection_tab.all_products_count > 0 %}
                    <ul class="grid product-grid contains-card contains-card--product">
                      {% for tab_product in collection_tab.products limit: 6 %}
                        <li class="grid__item">
                          {% render 'card-product',
                            card_product: tab_product,
                            media_aspect_ratio: "adapt",
                            image_shape: "default",
                            show_secondary_image: true,
                            show_vendor: true,
                            show_rating: false,
                            section_id: section.id,
                            quick_add: "standard"
                          %}
                        </li>
                    {% endfor %}
                    </ul>
                    <div class="see_everything_btn">
                      <a href="{{ collection_tab.url }}" class="button">{{ section.settings.btn_text }} in {{ collection_tab.title }}</a>
                    </div> 
                  {% else %}
                    We havn't products in this collection
                  {% endif %}
                  {% assign j = 1 %}
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Collection tabs",
  "tag": "section",
  "class": "section section-collection-tabs",
  "limit": 1,
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section title",
      "default": "Favorite products"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Section description",
      "default": "<p>Chose your dream<\/>"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button text",
      "info": "Use a title instead of the standart collection title",
      "default": "View All"
    }
  ],
  "blocks": [
    {
      "name": "Collection tab",
      "type": "collection_tab",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "alt_title",
          "label": "Collection alternative title",
          "info": "Use a title instead of the standart collection title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection tabs"
    }
  ]
}
{% endschema %}
