{%- if section.blocks.size > 0 -%}
    <div class="prods-section">
      <div class="page-width prods-section__container">
        <div>
          <h2 class="section-title">Blocks with one or two pictures</h2>
          <p class="section-description">
            Select the block you want to add next to the section, then select the next block, and then as many as you need
          </p>
        </div>
        
            {%- for block in section.blocks -%}
              {%- if block.type == 'product' and block.settings.one_prod != blank -%}
                {%- assign product = block.settings.one_prod -%}
                <div class="prods-section__item one-product">
                   {% comment %} <a href="{{ myblock.url }}" class="item__link"></a>{% endcomment %}
                  <div class="item-content">
                    <h4 class="item-content__title">{{ product.title }}</h4>
                    {%- if product.content != blank -%}
                    <div class="item-content__text">
                      <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat sit enim quam magni illo voluptatem rep.</h4>
                    </div>
                    {%- endif -%}
                    <div class="item-content__btn">
                      <button class="shop-now">Shop now!</button>
                    </div>
                  </div>
                  <div class="item-img">
                    {{ product.featured_image | image_url: width: 300 | image_tag: class: 'item-img__picture', alt: 'No image', loading: 'lazy'}}
                  </div>
                </div>
                {%  elsif block.type == 'product_list' and block.settings.two_prods != blank%}
                  {%- assign products = block.settings.two_prods -%}
                  <div class="prods-section__item two-products">
                  {% for product in products %}
                      <div class="two-products__item">
                        <div class="item-content">
                          <h4 class="item-content__title">{{ product.title }}</h4>
                          <div class="item-content__text">
                            <p>Rerum eveniet eius voluptates consectetur dicta quidem.</p>
                          </div>
                        </div>
                        <div class="item-img">
                          {{ product.featured_image | image_url: width: 150 | image_tag: class: 'item-img__picture', loading: 'lazy' }}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
              {%- endif -%}
            {%- endfor -%}
      </div>
    </div>
    {%- endif -%}
  <div class="{% if section.settings.include_margins %}page-width{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {%- for block in section.blocks -%}
        {% render block %}
      {%- endfor -%}
    </div>
    
    {% schema %}
    {
      "name": "My Section",
      "tag": "section",
      "class": "section",
      "settings": [
        {
          "type": "header",
          "content": "Blocks with one or two pictures",
          "info": "Select the block you want to add next to the section, then select the next block, and then as many as you need"
        }
      ],
      "blocks": [
        {
          "type": "product",
          "name": "Product",
          "settings": [
            {
              "type": "product",
              "id": "one_prod",
              "label": "Select product"
            }
          ]
        },
        {
          "type": "product_list",
          "name": "Two Products",
          "settings": [
            {
              "type": "product_list",
              "id": "two_prods",
              "label": "Select products",
              "limit": 2
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Test prods section",
          "blocks": [
            {
              "type": "product"
            },
            {
              "type": "product_list"
            }
          ]
        }
      ]
    }
    {% endschema %}
    